body {
    background-color: #F5F6FA;
}

.page-header {
    background-color: #FFFFFF;
    margin-top: 0;
    padding: 10px 20px 20px 20px;
}

.image {
    background-size: cover;
    width: 100%;
    height: 200px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}

.content {
    margin-top: 10px;
}


.animal {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 5px grey;
}

.nom {
    color: #4A4E51;
    margin-top: 0px;
}

.occupe {
    background-color: red;
}

.libre {
    background-color: green;
}

.card {
    margin: 10px;
}

.card-title {
    text-align: center;
}

.card-body {
    text-align: center;
}

.btn-perso {
    background-color: #254D71;
    border: none;
}

.list-group-item {
    text-align: center;
}

.post-form textarea, .post-form input {
    width: 100%;
}

p {
    margin:7px;
}
